# Enables or disables runtime rewriting engine
RewriteEngine On
RewriteBase /

RewriteRule ^([a-z\-]+)/([a-z\-]+)$ /$1/$2.php [L]
RewriteRule ^([a-z]+)$ /$1.php [L]
RewriteRule ^users/edit/:([0-9]+)$ /users/edit.php?id=$1 [L]
RewriteRule ^users/edit/:([0-9]+)/save$ /users/edit.php?id=$1&save=y1! [L]
RewriteRule ^account/settings/success$ /account/settings.php?success [L]
RewriteRule ^login/confirm-password/success$ /login/confirm-password.php?success [L]
RewriteRule ^login/confirm-password/success$ /login/confirm-password.php?success [L]
RewriteRule ^login/recover/([^/]+)/([\w\.]+) /login/recover.php?id=$1&gen_string=$2 [L]
RewriteRule ^(error\-[0-9]{3})$ /$1.php [L]

ErrorDocument 404 /error-404
ErrorDocument 403 /error-403
ErrorDocument 500 /error-500

#RewriteRule ^$ /upgrade [L]