# Enables or disables runtime rewriting engine
RewriteEngine On

RewriteRule ^([a-z]+)/([a-z\-]+)$ /$1/$2.php [L]
RewriteRule ^([a-z]+)$ /$1.php [L]
RewriteRule ^account/settings/success$ /account/settings.php?success [L]
RewriteRule ^login/confirm-password/success$ /login/confirm-password.php?success [L]
RewriteRule ^login/confirm-password/success$ /login/confirm-password.php?success [L]
RewriteRule ^login/recover/([^/]+)/([\w\.]+) /login/recover.php?id=$1&gen_string=$2 [L]


#RewriteRule ^(/?login/(confirm-password|recover))/?$ $1.php [NC,L]
#RewriteRule ^(/?login/(confirm-password|recover))/success$ $1.php?success [NC,L]
#RewriteRule ^(/?logout)$ $1.php [NC,L]

#RewriteRule ^(/?account/(profile|settings))/?$ $1.php [NC,L]
#RewriteRule ^(/?account/settings)/success$ $1.php?success [NC,L]

#RewriteRule ^(/?users/(create|edit))/?$ $1.php [NC,L]

ErrorDocument 404 http://sass.hol.es/error-404.php
#RewriteRule ^$ /upgrade [L]