# Enables or disables runtime rewriting engine
RewriteEngine On
RewriteBase /

RewriteRule ^([a-z\-]+)/([a-z\-]+)$ /$1/$2.php [L]
RewriteRule ^([a-z]+)$ /$1.php [L]
RewriteRule ^workshops/([0-9]+)$ /workshops/index.php?id=$1 [L]
RewriteRule ^academia/students/success$ /academia/students.php?success=y1!q [L]
RewriteRule ^academia/courses/success$ /academia/courses.php?success=y1!qp [L]
RewriteRule ^academia/majors/success$ /academia/majors.php?success=y1!qp [L]
RewriteRule ^academia/instructors/success$ /academia/instructors.php?success=y1!qp [L]
RewriteRule ^users/edit/:([0-9]+)$ /users/edit.php?id=$1 [L]
RewriteRule ^users/edit/:([0-9]+)/success$ /users/edit.php?id=$1&success=y1! [L]
RewriteRule ^users/([0-9]+)$ /users/index.php?id=$1 [L]
RewriteRule ^users/terms/success$ /users/terms.php?success=y1!qp [L]
RewriteRule ^account/settings/success$ /account/settings.php?success [L]
RewriteRule ^login/confirm-password/success$ /login/confirm-password.php?success [L]
RewriteRule ^login/confirm-password/success$ /login/confirm-password.php?success [L]
RewriteRule ^login/recover/([^/]+)/([\w\.]+) /login/recover.php?id=$1&gen_string=$2 [L]
RewriteRule ^login/recover/success$ /login/recover.php?success [L]
RewriteRule ^login/set/([^/]+)/([\w\.]+) /login/set.php?id=$1&gen_string=$2 [L]
RewriteRule ^login/set/success$ /login/set.php?success [L]
RewriteRule ^(error\-[0-9]{3})$ /$1.php [L]

ErrorDocument 404 /error-404
ErrorDocument 403 /error-403
ErrorDocument 500 /error-500

# MAINTENANCE-PAGE REDIRECT #|(?::1)
<IfModule mod_rewrite.c>
 RewriteEngine on
 RewriteCond %{REMOTE_ADDR} !^(?:(?:0\.0\.0\.0)|(?:127\.0\.0\.1))$
 RewriteCond %{REQUEST_URI} !\.(jpe?g?|png|gif) [NC]
 RewriteCond %{REQUEST_URI} !/upgrade/.*$ [NC]
 RewriteRule .* /upgrade/index.html [R=302,L]
</IfModule>