# Enables or disables runtime rewriting engine
RewriteEngine On
RewriteBase /

RewriteRule ^([a-z\-]+)/([a-z\-]+)$ /$1/$2.php [L]
RewriteRule ^([a-z]+)$ /$1.php [L]
RewriteRule ^appointments/([0-9]+)$ /appointments/index.php?appointmentId=$1 [L]
RewriteRule ^appointments/calendar/([0-9]+)$ /appointments/calendar.php?tutorId=$1 [L]
RewriteRule ^appointments/add/success$ /appointments/add.php?success=y1!q [L]
RewriteRule ^appointments/([0-9]+)/success$ /appointments/index.php?appointmentId=$1&success=y1!q [L]
RewriteRule ^academia/students/success$ /academia/students.php?success=y1!q [L]
RewriteRule ^academia/courses/success$ /academia/courses.php?success=y1!qp [L]
RewriteRule ^academia/majors/success$ /academia/majors.php?success=y1!qp [L]
RewriteRule ^academia/instructors/success$ /academia/instructors.php?success=y1!qp [L]
RewriteRule ^academia/terms/success$ /academia/terms.php?success=y1!qp [L]
RewriteRule ^staff/edit/([0-9]+)$ /staff/edit.php?id=$1 [L]
RewriteRule ^staff/edit/([0-9]+)/success$ /staff/edit.php?id=$1&success=y1! [L]
RewriteRule ^staff/schedules/success$ /staff/schedules.php?success=y1!qp! [L]
RewriteRule ^staff/([0-9]+)$ /staff/index.php?id=$1 [L]
RewriteRule ^account/settings/success$ /account/settings.php?success [L]
RewriteRule ^cloud/backups/dropbox-auth-finish /cloud/backups.php?dropbox-auth-finish [L]
RewriteRule ^cloud/backups/success$ /cloud/backups.php?success=y1!qp [L]
RewriteRule ^login/confirm-password/success$ /login/confirm-password.php?success [L]
RewriteRule ^login/confirm-password/success$ /login/confirm-password.php?success [L]
RewriteRule ^login/recover/([^/]+)/([\w\.]+) /login/recover.php?id=$1&gen_string=$2 [L]
RewriteRule ^login/recover/success$ /login/recover.php?0success [L]
RewriteRule ^login/set/([^/]+)/([\w\.]+) /login/set.php?id=$1&gen_string=$2 [L]
RewriteRule ^login/set/success$ /login/set.php?success [L]
RewriteRule ^(error\-[0-9]{3})$ /$1.php [L]

ErrorDocument 404 /error-404
ErrorDocument 403 /error-403
ErrorDocument 500 /error-500

# MAINTENANCE-PAGE REDIRECT #|(?::1)
#<IfModule mod_rewrite.c>
# RewriteEngine on
# RewriteCond %{REMOTE_ADDR} !^(?:(?:91\.140\.23\.90)|(?:127\.0\.0\.1)|(?:192\.168\.1\.2))$
# RewriteCond %{REQUEST_URI} !\.(jpe?g?|png|gif) [NC]
# RewriteCond %{REQUEST_URI} !/upgrade/.*$ [NC]
# RewriteRule .* /upgrade/ [R=302,L]
#</IfModule>
