.dashboard-stat.primary, .dashboard-stat.primary:active {
    background-color: #3fa67a;
}

.dashboard-stat.primary:hover {
    background-color: #1fa67a;
}

.dashboard-stat.primary i, .dashboard-stat.primary:hover i, .dashboard-stat.primary:active i {
    color: #008351;
}

#back-to-top {
    bottom: 60px;
}